<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fire.elasticJob.mapper.MenuMapper">


    <select id="selectPage2" resultType="cn.fire.elasticJob.entity.Menu">
        select id,name from sys_menu limit #{skipNum},#{pageSize}
    </select>
</mapper>
